$bg-color1: lightblue;
$bg-color2: lightgreen;
$link-color: #5213F2;
$text-color: #c0589b;

.first-paragraph {
    color: $text-color;
    font-size: 1.5em;
}

img {
    width: auto;
    height: auto;
    object-fit: contain;
}

.more:hover {
    background-color: $bg-color1
  }  

.singers-table:hover {
    background-color: $bg-color2
}

@mixin align($direction) {
    display: flex;
    flex-direction: row;
    justify-content: $direction;
    @media(max-width: 800px) {
        flex-direction: column;
    }
}

.photos-row1 {
    @include align(flex-end);
}

.photos-row2 {
    @include align(flex-start);
}

.photos-row3 {
    @include align(center);
}

.bruno-mars-photos {
    @include align(space-evenly);
}

@media (max-width: 800px) {
    .interactive {
        display: none;
    }
    .singers-table:hover {
        background-color: transparent;
    }
}

@mixin button-style($bg, $text) {
    display: inline-block;
    box-sizing: border-box;
    background-color: $bg;
    color: $text;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
      background-color: darken($bg, 20%); // Zamiast color.scale()
    }
}

.button-primary {
    @include button-style($link-color, #fff);
}